{% extends 'base.html' %}
{% block header %}
<title>Profile</title>
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Users">Users</a>
                    </li>
                </ul>
            </div>
        </nav>
        
     
        <!-- Main content area -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="title">Weekly Change</div>
                            <div class="value">
                                {{ percent_change_month }}%<span class="percentage">
                                    {% if percent_change_month < 0 %}
                                        <i class="arrow down"></i>
                                    {% else %}
                                        <i class="arrow up"></i>
                                    {% endif %}
                                    </span>                 
                            </div>
                        </div>
                    </div>
                    
                    <div class="card">
                        <div class="card-body">
                            <div class="title">Monthy change</div>
                            <div class="value">
                                {{ percent_change_month }}%<span class="percentage negative">
                                {% if percent_change_month > 0 %}
                                    <i class="arrow down"></i>
                                {% else %}
                                    <i class="arrow up"></i>
                                {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <div class="title">Total Active Dancers</div>
                            <div class="value">
                                {{ total_active_users }}
                                </span>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- end of row-->
                
                    
                    
              <!-- Weekly Users Timeline -->
             <div class="dashboard">
                <div class="col-12">
                    <h2 class="mb-3">Weekly Users Timeline</h2>
                    <canvas id="timelineChart"></canvas>
                </div>
                </div>
                <div class="dashboard">
                    <!-- Stacked Bar Chart -->
                        <h2 class="mb-3">Membership Distribution</h2>
                        <canvas id="stackedBarChart"></canvas>
                </div>
                    <!-- Pie Chart -->
                    <div class="dashboard">
                        <h2 class="mb-3">Membership Proportion</h2>
                        <canvas id="pieChart"></canvas>
                    </div>

          

                <!-- Add a search box for username -->
                <div class="mt-3">
                    <label for="searchUsername">Search Username:</label>
                    <input type="text" name="searchUsername" id="searchUsername" class="form-control" onkeyup="filterByUsername()">
                </div>

                <div class="container">
                    <!-- Add a link for inactive users -->
                    <li class="nav-item">
                        <a class="nav-link" href="#Users">Inactive Users</a>
                    </li>
                </div>
                    <!-- Tabs for Active, Paused, and Inactive Users -->
                    <ul class="nav nav-tabs mb-4" id="userStatusTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="active-tab" data-toggle="tab" href="#activeUsers" role="tab" aria-controls="activeUsers" aria-selected="true">Active Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="paused-tab" data-toggle="tab" href="#pausedUsers" role="tab" aria-controls="pausedUsers" aria-selected="false">Paused Users</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="cancelled-tab" data-toggle="tab" href="#cancelledUsers" role="tab" aria-controls="cancelledUsers" aria-selected="false">Cancelled Users</a>
                        </li>
                    </ul>

                    <!-- Tab content -->
                    <div class="tab-content" id="userStatusTabsContent">
                        <!-- Active Users Tab -->
                        <div class="tab-pane fade show active" id="activeUsers" role="tabpanel" aria-labelledby="active-tab">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th onclick="sortTable(0)">Name</th>
                                            <th onclick="sortTable(1)">Membership</th>
                                            <th onclick="sortTable(2)">Email</th>
                                            <th>Edit</th>
                                            <th>Pause</th>
                                            <th>Cancel</th>
                                        </tr>
                                    </thead>
                                    <tbody id="activeUsersBody">
                                        <!-- Active Users will be dynamically inserted here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Paused Users Tab -->
                        <div class="tab-pane fade" id="pausedUsers" role="tabpanel" aria-labelledby="paused-tab">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th onclick="sortTable(0)">Name</th>
                                            <th onclick="sortTable(1)">Membership</th>
                                            <th onclick="sortTable(2)">Email</th>
                                            <th>Edit</th>
                                            <th>Action</th>
                                            <th>Cancel</th>
                                        </tr>
                                    </thead>
                                    <tbody id="pausedUsersBody">
                                        <!-- Paused Users will be dynamically inserted here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Cancelled Users Tab -->
                        <div class="tab-pane fade" id="cancelledUsers" role="tabpanel" aria-labelledby="cancelled-tab">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th onclick="sortTable(0)">Name</th>
                                            <th onclick="sortTable(1)">Membership</th>
                                            <th onclick="sortTable(2)">Email</th>
                                            <th>Edit</th>
                                            <th>Action</th>
                                            <th>Cancel</th>
                                        </tr>
                                    </thead>
                                    <tbody id="cancelledUsersBody">
                                        <!-- Cancelled Users will be dynamically inserted here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                {% include 'edit_popup.html' %}
            </div>
        </main>
    </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
    // Function to fetch and display users based on status
    var tabs = document.querySelectorAll('.nav-link');
tabs.forEach(function(tab) {
    tab.addEventListener('click', function(event) {
        event.preventDefault();
        var target = this.getAttribute('aria-controls');
        displayUsers(target.replace('Users', '').toLowerCase());
    });
});
    function displayUsers(status) {
        fetch('/get-users')
            .then(response => response.json())
            .then(users => {
                // Clear existing rows
                document.getElementById(status + 'UsersBody').innerHTML = '';

                // Filter users based on status and populate table
                users.forEach(function(user) {
                    if (user.status.toLowerCase() === status.toLowerCase()) {
                        var row = '<tr>' +
                            '<td>' + user.name + '</td>' +
                            '<td>' + user.membership + '</td>' +
                            '<td>' + user.email + '</td>' +
                            '<td class="text-center">' +
                            '<div onclick="openEditPopup(\'' + user.MembershipID + '\')" style="cursor: pointer;">' +
                            '<img src="/static/edit.png" alt="Edit" class="icon">' +
                            '</div>' +
                            '</td>' +
                            '<td class="text-center">' + getActionHTML(status, user.MembershipID) + '</td>' +
                            '<td class="text-center">' +
                            '<div onclick="cancelMembership(\'' + user.MembershipID + '\')" style="cursor: pointer;">' +
                            '<img src="/static/cancel.png" alt="Cancel" class="icon">' +
                            '</div>' +
                            '</td>' +
                            '</tr>';
                        document.getElementById(status + 'UsersBody').innerHTML += row;
                    }
                });
            })
            .catch(error => console.error('Error fetching users:', error));
    }

    displayUsers('active'); // Initial display for active users

    // Function to generate action button based on user status
    function getActionHTML(status, membershipID) {
        switch (status.toLowerCase()) {
            case 'active':
                return '<div onclick="pauseMembership(\'' + membershipID + '\')" style="cursor: pointer;">' +
                    '<img src="/static/pause.png" alt="Pause" class="icon">' +
                    '</div>';
            case 'paused':
                return '<div onclick="resumeMembership(\'' + membershipID + '\')" style="cursor: pointer;">' +
                    '<img src="/static/play.png" alt="Resume" class="icon" width="20" height="20">' +
                    '</div>';
            case 'cancelled':
                return '<div onclick="activateMembership(\'' + membershipID + '\')" style="cursor: pointer;">' +
                    '<img src="/static/play.png" alt="Resume" class="icon" width="20" height="20">' +
                    '</div>';
            default:
                return '';
        }
    }
});


document.addEventListener('DOMContentLoaded', function() {
    var users = JSON.parse('{{ users | tojson | safe }}');
    var membershipCounts = users.reduce((acc, user) => {
        acc[user.membership] = (acc[user.membership] || 0) + 1;
        return acc;
    }, {});

    // Data for Stacked Bar Chart
    var stackedBarData = {
        labels: Object.keys(membershipCounts),
        datasets: [{
            label: 'Memberships',
            data: Object.values(membershipCounts),
            backgroundColor: ['gold', 'orange', '#00004d']
        }]
    };

    var stackedBarChart = new Chart(document.getElementById('stackedBarChart'), {
        type: 'bar',
        data: stackedBarData,
        options: {
            scales: {
                x: { stacked: true },
                y: { stacked: true, beginAtZero: true }
            }
        }
    });

    // Data for Pie Chart
    var pieData = {
        labels: Object.keys(membershipCounts),
        datasets: [{
            data: Object.values(membershipCounts),
            backgroundColor: ['gold', 'orange', '#00004d']
        }]
    };

    var pieChart = new Chart(document.getElementById('pieChart'), {
        type: 'pie',
        data: pieData
    });

    // Fetch weekly users data
    fetch('/get-weekly-users')
        .then(response => response.json())
        .then(weeklyUsers => {
            var weekLabels = weeklyUsers.map(week => `${week.week_start} - ${week.week_end}`);

            // Initialize membership data
            var membershipTypes = ['Like', 'Love', 'Talk'];
            var activeMembershipData = {
                Like: [],
                Love: [],
                Talk: []
            };
            var pausedMembershipData = {
                Like: [],
                Love: [],
                Talk: []
            };

            // Fill the membership data
            weeklyUsers.forEach(week => {
                membershipTypes.forEach(type => {
                    activeMembershipData[type].push(week.membership_counts[type] || 0);
                    var pausedCount = week.paused_memberships.filter(pausedType => pausedType === type).length;
                    pausedMembershipData[type].push(pausedCount);
                });
            });

            var datasets = membershipTypes.map(type => ({
                label: `${type} (Active)`,
                data: activeMembershipData[type],
                backgroundColor: getBackgroundColor(type),
                borderColor: getBackgroundColor(type),
                fill: false
            })).concat(
                membershipTypes.map(type => ({
                    label: `${type} (Paused)`,
                    data: pausedMembershipData[type],
                    backgroundColor: getBackgroundColor(type),
                    borderColor: getBackgroundColor(type),
                    fill: false,
                    borderDash: [5, 5]  // Dashed line for paused memberships
                }))
            );

            var timelineData = {
                labels: weekLabels,
                datasets: datasets
            };

            var timelineChart = new Chart(document.getElementById('timelineChart'), {
                type: 'line',
                data: timelineData,
                options: {
                    scales: {
                        y: { beginAtZero: true }
                    }
                }
            });
        })
        .catch(error => console.error('Error fetching weekly users data:', error));

    function getBackgroundColor(type) {
        switch (type) {
            case 'Like':
                return '#008080';
            case 'Love':
                return '#ffd700';
            case 'Talk':
                return '#000000';
            default:
                return '#808080';
        }
    }
});

document.addEventListener('DOMContentLoaded', function() {
    fetch('/get-weekly-and-monthly-users')
        .then(response => response.json())
        .then(data => {
            // Assuming the response data has properties 'weeklyUsers' and 'monthlyUsers'
            document.getElementById('weekly-users').textContent = data.weeklyUsers;
            document.getElementById('monthly-users').textContent = data.monthlyUsers;
            console.log(data.monthlyUsers);
        })
        .catch(error => console.error('Error fetching user data:', error));
});
</script>
{% endblock %}
